<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <style>
        h4
        {
        color: #7d746d;
        padding-left: 20px;
        }
        div
        {
        padding-left: 60px;
        }
    </style>
    <title></title>
</head>
<body>
<h1>
    Миссия колонизации Марса
</h1>
<h4>
    И на Марсе будут яблони цвести!
</h4>
<div class='text'>
    <h5>Фамилия: {{data["surname"]}}</h5>
    <h5>Имя: {{data["name"]}}</h5>
    <h5>Образование: {{data["education"]}}</h5>
    <h5>Профессия: {{data["profession"]}}</h5>
    <h5>Пол: {{data["sex"]}}</h5>
    <h5>Мотивация: {{data["motivation"]}}</h5>
    <h5>Готовы остаться на Марсе? {{data["ready"]}}</h5>
</div>
</body>
</html>