{% extends "base.html" %}

{% block content %}
<style>
    form
    {
    position: relative;
    bottom: -20px
    }
</style>
    <form action="" method="post" novalidate>
        <img src="/static/img/ing.png">
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div>
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}